<div class="footer-wrapper">

    <footer id="footer" class="footer">

        <div class="inner m-auto md:flex justify-between items-center px-6 py-10">

            <p class="text-blue-900 pb-8 md:pb-0 ">Built with <a class="hover:text-blue-500" href="https://www.11ty.io/">Eleventy.</a></p>

            {% include 'components/social-icons.njk' %}

        </div>

    </footer>

</div>
