---
layout: default
meta_title: About
meta_description: About page description
body_class: about
title: About
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
        <p>Hi, I'm Ymar, a technologist currently living in Haarlem, the Netherlands. Technology has always pulled my interest for both work but also into new hobbies. I am interested in products and solutions that not only solve problems, but delight or even change habits. My have a background is in computer science and particularly enjoy working on cloud architectures and CRM strategies. 
       
       <h1>Work</h1>
        <p>Currently I work as a Salesforce Solution Architect. Before I worked across Marketing and Technology teams at HolidayPirates and Zalando.

       <h1>Interests</h1>
        <ul class="mb-12 list-disc pl-4">
        <li>Cooking</li>
        <li>Collecting music</li>
        <li>Crossfit</li>
        <li>Running</li>
        <li>Playing Games</li>
        </ul>

        <h1>Tools & Technologies</h1>
        <ul class="mb-12 list-disc pl-4">
        <li>Salesforce Marketing Cloud</li>
        <li>SFDC</li>
        <li>JIRA</li>
        <li>Visual Code Studio</li>
        <li>Postman</li>
        <li>API’s</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>SQL</li>
        <li>Javascript</li>
        </ul>
        
        <h1>Certifications</h1>
        <ul class="mb-12 list-disc pl-4">
        <li>Salesforce Marketing Cloud: Email Specialist</li>
        <li>Salesforce Marketing Cloud: Consultant</li>
        <li>Salesforce Administrator</li>
        </ul>
  
        </div>

    </article>

</main>
