---
layout: default
meta_title: Home
meta_description: Skeleventy is a beautiful, powerful skeleton boilerplate built with Eleventy and TailwindCSS
body_class: home
title: Hello there!
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1" aria-label="Summary and features">


 <div class="lg:2/6 xl:w-3/4 mt-20 lg:mt-40 text-left">
            <div class="text-6xl font-semibold text-gray-900 leading-none">Hi, I'm Ymar, a technologist currently living in Haarlem, the Netherlands. </div>
</div>
        </div>

    </section>

</main>


