---
layout: default
meta_title: Stack
meta_description: Stack page description
body_class: stack
title: Stack
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title">{{ title }}</h1>
        </header>

        <div class="content">
           <h1>LMy favorite tools and software.</h1>
       
        <ul class="mb-12 list-disc pl-4">
        <li>1Password</li>
        <li>Alfred</li>
        <li>Plex</li>
        <li>Gmail</li>
        <li>Google Calendar</li>
        <li>Todoist</li>
        <li>Spotify</li>
        <li>Itsycal</li>
        <li>Apple Notes</li>
        <li>Openmediavault</li>
        <li>Github</li>
        <li>aText</li>

        </ul>

        <h1>My favorite gear</h1>
        <ul class="mb-12 list-disc pl-4">
        <li>Macbook Air 2019</li>
        <li>Apple Magic Keyboard</li>
        <li>Logitech MX Master 3</li>
        <li>Dell U2518D</li>
        <li>Harman Kardon SoundSticks</li>
        <li>Ikea Långfjäll Desk Chair</li>
        <li>Raspberry Pi 3B</li>
        <li>Raspberry Pi Zero</li>
        <li>Raspberry Pi 4</li>

        </ul>


        </div>

    </article>

</main>
